<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1">
    <test name="FirstTest">
        <classes>
            <class name="duykha.com.Bai9_TestNG.RunTestNG" />
            <class name="duykha.com.Bai9_TestNG.RunTestNG02" />
        </classes>
    </test>
</suite>